<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission caméra -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- Permission appels API REST -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Permission état réseau pour SyncStatusBar "pas de co" -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Facultatif : indiquer que l’app a besoin d’un appareil photo -->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- RETIRER usesCleartextTraffic en PROD (http/https) -->
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/applogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/applogo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BarCode"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.BarCode">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- ✅ Deep link: frigozen://email-verified?id=123 pour ouvrir l'app après clique sur lien de confirmation email-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="frigozen"
                    android:host="email-verified" />
            </intent-filter>
        </activity>
    </application>

</manifest>